# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
*.egg
.env
*.db
*.sqlite
*.sqlite3
model.pkl

# Node / Next.js
node_modules/
.next/
out/
.vercel/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
Thumbs.db
*.log
